SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


/* Label */
QLabel#settingLabel {
    font: 33px;
    background-color: transparent;
    color: white;
}

